* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    border-radius: 0.3rem;
}


/* Header */


#header {
    background-color: rgb(229, 235, 239);
}

#header-text-container {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}

#site-title {
    font-size: 3rem;
    margin-bottom: 1%;
    font-weight: bold;
}

#sub-title {
    font-size: 1.4rem;
}


/* Body */

/* User Input Form */

#body-container {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

#user-input-form {
    padding-top: 2%;
    padding-left: 5%;
    flex-basis: 33.3%;
    max-width: 33.3%;
}

.user-input {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}

.user-input-box {
    box-sizing: border-box;
    font-size: 1rem;
    height: 2rem;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}

textarea {
    resize: vertical;
    border-radius: 0.3rem;
}

.submit-btn {
    background-color: rgb(55, 110, 175);
    font-size: 1.5rem;
    color: #fff;
    height: 3rem;
    border-width: 0.1rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
}


/* Wishlist */


#wishlist {
    text-align: center;
    flex-basis: 66.6%;
}

#wishlist-title {
    font-size: 1.5rem;
    padding-top: 2%;
    padding-right: 20%
}

#wishlist-container {
    display: flex;
    flex-flow: row wrap;
}

.list-item-container {
    height: fit-content;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 0.3rem;
}

.list-item-info-container {
    padding: 0.5rem;
    justify-content: space-between;
}

.list-item-name {
    font-size: 2rem;
    font-weight: bold;
}

.list-item-location {
    padding-top: 0.3rem;
    color: lightslategrey;
    font-style: italic;
}

.list-item-description {
    padding-top: 1.3rem;
    font-weight: normal;
}

.list-item-image {
    max-height: 20rem;
    max-width: 20rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.card-button {
    border: none;
    width: 5rem;
    height: 2.5rem;
}

#edit-btn {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 220, 110);
}

#remove-btn {
    color: #fff;
    background-color: rgb(200, 0, 0);
}